body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.workout-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.workout-item {
    background-color: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    box-sizing: border-box;
}

.workout-item h2 {
    font-size: 1.2em;
    color: #333;
}

.workout-item p {
    font-size: 1em;
    color: #555;
}
